<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @cast.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cast.description %>
</p>

<p>
  <strong>Picture:</strong>
<%= image_tag(@cast.picture_url, width: 300) if @cast.picture.present? %>
<h3>Comment</h3>
<% @comments.each do |comment| %>
  <div>
    <strong><%= comment.user_name %></strong>
    <br>
    <p><%= comment.body %></p>
    <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>
<%= render partial: 'comments/form', locals: { comment: @comment } %>
</p>


<%= link_to 'Edit', edit_cast_path(@cast) %> |
<%= link_to 'Back', casts_path %>
