<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cast.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cast.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @cast.picture %>
</p>

<%= link_to 'Edit', edit_cast_path(@cast) %> |
<%= link_to 'Back', casts_path %>
